.cardlist {
  background-color: rgb(238, 238, 229);
  width: 100vw;
  height: 100vh;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  .card {
    border: 1.5px solid rgb(152, 152, 152);
    box-shadow: 2px 3px 0.2rem rgba(0, 0, 0, 0.5);
    height: 12rem;
    width: 21rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    padding: 5px;
    padding-left: 8px;
    overflow: scroll;
    background-color: beige;
    position: relative;

    .cardBody {
      overflow: scroll;
      padding: 0.5rem;
      .date {
        font-size: 0.8rem;
        font-weight: 800;
      }
    }

    .title {
      background-color: rgb(243, 243, 165);
      border-radius: 20px;
      display: flex;
      height: 3rem;
      justify-content: space-between;
      align-items: center;

      svg {
        transition: all 0.5s;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        margin-left: 5px;
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(67, 67, 7);
      }

      ol {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        gap: 1px;
        margin-right: 0.4rem;
        z-index: 5;
      }

      li {
        list-style: none;
        display: inline;
      }

      a {
        color: black;
      }
    }

    .date {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.done {
  border: 1.5px solid rgb(152, 152, 152);
  box-shadow: 2px 3px 0.2rem rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 5px;
  padding-left: 8px;
  margin-left: -0.6rem;
  margin-top: -0.3rem;
  margin-bottom: -1.5rem;
  z-index: 1;
}
