.form {
  svg {
    justify-self: center;
    margin-right: 1rem;
    color: black;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      transform: rotate(45deg);
    }
  }
}

.modal-header {
  background-color: rgb(234, 234, 132);
  border-bottom: 2px solid #dee2e6;
}

.modal-footer {
  background-color: rgb(234, 234, 132);
}

.modal-content {
  background-color: rgb(238, 238, 229);
  height: 50vh;
}

.modal-body {
  background-color: rgb(238, 238, 229);
  input {
    display: inline-block;
    margin: 30px;
  }

  label {
    border-bottom: 1px solid black;
  }
}

#context {
  width: 23rem;
  height: 4.5rem;

  margin: 1rem !important;
}
